@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Smokum&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
}

.body{
    background-color: #161717;
    color: white;
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 450px;
}

.botones{
    align-self: flex;
    display: flex;
    gap: 25px;
}

.btn-google{
    background-color: #047af3;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 3px;
    opacity: 40%;
}

.btn-google picture{
    background-color: white;
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
}

.btn-google picture img{
    width: 75%;
}

.btn-google:hover{
    opacity: 100%;
}

.btn-twiter{
    background-color: #868687;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    opacity: 40%;
}

.btn-twiter picture{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-twiter picture img{ 
    width: 140%;
    border-radius: 20px;
}

.btn-twiter:hover{
    opacity: 100%;
}

.separador{
    width: 100%;
    display: flex;
    gap: 15px;
}

.separador hr{
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
}

.seccion-inputs{
    display: flex;
    width: 100%;
    gap: 25px;
}

form{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 30px;
}

label{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

label input {
    width: 100%;
    background-color: #212121;
    height: 30px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: 0.5s;
}

label input:hover{
    background-color:  #454045;
    border: solid 4px #212121;
    box-shadow: 0 0 5px #e44c89;
}

.checkbox-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.checkbox-label input {
    width: 20px;
    cursor: pointer;
}

.checkbox-label input:hover{
    box-shadow: none;
}

.btn-crear-cuenta{
    height: 40px;
    background-color: #fa3886;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    opacity: 30%;
}

.btn-crear-cuenta:hover{
    opacity: 100%;
}


